@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
    :root {
        --black-solid: rgba(20, 19, 19, 1);
        --black-transparent: rgba(20, 19, 19, 0);
    }

    .showcase-collection-list--wrapper {
        position: relative;
        overflow: hidden;
        padding: 1.3rem 0rem;
    }
    
    .showcase-collection-list--img-item :is(img, svg) {
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        will-change: transform, opacity;
        transition: all 1s ease-out;
    }

    .showcase-collection-info {
        display: none;
    }

    .showcase-collection-list--text {
        display: inline-block;
        cursor: pointer;
        position: relative;
        z-index: 1;
        max-width: 100%;
        word-break: break-word;
        letter-spacing: 4px;
        transition: all 0.3s ease-in-out;
        color: #ffffff;
        line-height: normal;
        font-family: "Instrument Serif", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5rem;
    }
    .description.discription_data {
        color: #ffffff;
        font-size: small;
        font-weight: 400;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 1rem;
    }
    

    .showcase-collection-info .button {
        margin-top: 1.5rem;
       
    }
    .showcase-collection-info .button:hover {
    
    }

    @media screen and (min-width: 19021px) {
        .showcase-collection-info {
            max-width: 25%;
        }
    }

    @media (min-width: 768px) {
        .showcase-collection-list--wrapper {
            padding: 3.75rem 0rem;
        }

        .showcase-collection-list--content {
            display: flex;
            align-items: flex-end;
            position: relative;
            z-index: 2;
            overflow: hidden;
            height: 100%;
        }

        .showcase-collection-list--content>div {
            max-height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }

        .showcase-collection-info {
            position: absolute;
            bottom: 0rem;
            right: 0rem;
            max-width: 35%;
            display: block;
            z-index: 1;
            opacity: 0;
            max-height: 100%;
            overflow-y: auto;
            pointer-events: none;
            padding-right: 1rem;
        }

        .showcase-collection-list--img-item {
            position: absolute;
            top: 0rem;
            left: 0rem;
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            opacity: 0;
            overflow: hidden;
        }

        .showcase-collection-list--img-item :is(img, svg) {
            transform: translateZ(0) rotate(2deg) scale(1.1);
        }

        .showcase-collection-list--img-item.is-active {
            opacity: 1;
        }

        .showcase-collection-list--img-item.is-active :is(img, svg) {
            transform: translate(0px, 0px);
        }

        .showcase-collection-list--text::before {
            content: "";
            position: absolute;
            top: 0rem;
            left: 0rem;
            width: 0rem;
            height: 100%;
            transition: all 0.3s ease-in-out;
            background: linear-gradient(
                90deg,
                var(--black-solid) 0%,
                var(--black-transparent) 100%
            );
            z-index: -1;
        }


        .showcase-collection-list--text:is(.is-active, :hover)::before {
            width: 100%;
        }

        .showcase-collection-list--text:is(.is-active)~.showcase-collection-info {
            opacity: 1;
            pointer-events: all;
        }

        .showcase-collection-list--text {
            margin: 0.625rem 0rem;
            padding: 0.19rem 0.625rem;
            /* max-width: 45%; */
        }
    }

    @media screen and (max-width: 767px) {
        .showcase-collection-list--wrapper {
            overflow-x: auto;
            padding: 0rem;
        }

        .showcase-collection-list--imgs,
        .showcase-collection-list-text--box {
            display: flex;
            align-items: flex-start;
        }

        .showcase-collection-list--content .page--width {
            padding-inline: 0rem;
        }

        .showcase-collection-list-text--box {
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
        }

        .showcase-collection-list--img-item,
        .showcase-collection-list--title {
            flex: 0 0 95%;
            height: 100%;
            padding-right: 0.375rem;
        }

        .showcase-collection-list--title {
            padding-left: 2rem;
            margin: 0rem;
        }

        .showcase-collection-list--content {
            height: auto;
        }

        .showcase-collection-list--text {
            display: block;
        }

        .showcase-collection-info {
            display: block;
        }
    }




/* BUTTON STYLES */

  /* From Uiverse.io by Creatlydev */ 
 .showcase-collection-info .button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.showcase-collection-info .button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.showcase-collection-info .button:hover {
  background-color: #000;
}

.showcase-collection-info .button:hover .button__icon-wrapper {
  color: #000;
}

.showcase-collection-info .button__icon-wrapper .button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.showcase-collection-info .button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.showcase-collection-info .button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
